table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.d-none {
  display: none;
}

:host ::ng-deep .custom-table {
  background-color: rgb(216, 181, 161);
}


